.floating-socials {
    position: fixed;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 15px;
    z-index: 1000;
}

.social-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: white; */
    color: #144823;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); */
    transition: all 0.3s ease;
    /* border: 2px solid #144823; */
}

.social-icon:hover {
    transform: scale(1.1);
    background-color: #144823;
    color: white;
}