.hero {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding-top: 80px;
    /* Navbar height */
    background-color: rgb(232, 248, 233);
}

.hero-background-logo {
    position: absolute;
    top: 50%;
    left: 44%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 100%;
    opacity: 0.1;
    z-index: 1;
    pointer-events: none;
}

.hero-content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

.hero-image-container {
    position: relative;
    width: 300px;
    height: 400px;
    margin-bottom: 2rem;
}

.hero-image {
    position: absolute;
    top: 0;
    left: -180px;
    width: 180%;
    height: 100%;
    object-fit: contain;
    opacity: 0;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    transform: scale(0.9);

}

img {
    max-width: none;
}

.hero-image.active {
    opacity: 1;
    transform: scale(1);
}

.hero-text {
    max-width: 600px;
}

.hero-description {
    font-size: 1.25rem;
    /* color: var(--color-accent); */
    color: #144823;
    margin-bottom: 2rem;
    font-weight: 500;
    line-height: 1.6;
}

/* Responsive adjustments */
@media (min-width: 768px) {
    .hero-image-container {
        width: 400px;
        height: 500px;
    }

    .hero-description {
        font-size: 1.5rem;
    }
}