.newsletter {
    padding: var(--spacing-lg) 0;
    /* background-color: #7CB342; */
    /* Matching About section or slightly different? */
    /* background: linear-gradient(180deg, #7CB342 0%, var(--color-primary) 100%); */
    text-align: center;
    color: var(--color-accent);
    background-color: #144823;
}

.newsletter-title {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 2rem;
    line-height: 1.3;
}

.highlight {
    font-weight: 800;
}

.newsletter-subtitle {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    text-align: left;
    max-width: 600px;
    margin: 0 auto 0.5rem;
}

.newsletter-form {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
    position: relative;
}

.newsletter-input {
    width: 100%;
    padding: 0.8rem 1rem;
    border-radius: var(--border-radius-full);
    border: none;
    margin-bottom: 1rem;
    font-family: inherit;
}

.newsletter-note {
    font-size: 0.8rem;
    margin-bottom: 1rem;
    opacity: 0.9;
}

.newsletter-btn {
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 0.5rem 1.5rem;
    font-size: 0.8rem;
    background-color: var(--color-secondary);
    color: var(--color-accent);
    border: none;
}

.newsletter-btn:hover {
    background-color: var(--color-secondary-hover);
}