.video-section {
    padding: var(--spacing-lg) 0;
    /* background-color: var(--color-primary); */
    text-align: center;
    background-color: rgb(232, 248, 233);
}

.video-wrapper {
    max-width: 1000px;
    margin: 20px auto var(--spacing-md);
    position: relative;
    padding-bottom: 40% !important;
    /* 21:9 aspect ratio approx */
    /* padding-top: 56.25%; */
    height: 0;
    background-color: #000;
    border-radius: var(--border-radius-md);
    overflow: hidden;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-placeholder {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background: linear-gradient(45deg, #1a1a1a, #333);
}

.play-button {
    width: 80px;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    backdrop-filter: blur(5px);
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.play-button:hover {
    transform: scale(1.1);
    background-color: rgba(255, 255, 255, 0.3);
}

.video-cta {
    margin-top: 2rem;
}

/* .section-title::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 4px;
    background-color: #144823;
    border-radius: 2px;
} */